<!DOCTYPE html>
<html>
<head>
  <title>SnakesOvernight.com</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
  <%= link_to "Home", root_url, class: "navbar-text pull-left" %>
  <% if current_user %>
  <%= link_to "Log Out", session_path("current"), method: "delete", class: "navbar-text pull-right" %>
  <%= link_to "Manage Account", new_user_path, class: "navbar-text pull-right" %>
  <%= link_to "New Product", new_product_path, class: "navbar-text pull-right" %>
  <div class="navbar-text pull-right">
    Logged in as <%= current_user.name %>
  </div>
  <% else %>
  <%= link_to "Log In", new_session_path, class: "navbar-text pull-right" %>
  <% end %>
</div>

<div class="container">
<%= yield %>
</div>

</body>
</html>
